<aside class="sidebar-container">

  <div class="logo-area">
    <img class="logo-icon" src="assets/logo.png" />
    <img class="logo-name" src="assets/logo-hefesto-nome.png" />
  </div>

  <div class="separator"></div>

  <nav class="menu">

    <div class="menu-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </div>
    <div class="separator"></div>

    <div class="menu-item">
      <a routerLink="/obras" routerLinkActive="active">
        <mat-icon>construction</mat-icon> Obras
      </a>
    </div>
    <div class="separator"></div>

    <div class="menu-item">
      <a routerLink="/diarios" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon> Diários de Obra
      </a>
    </div>
    <div class="separator"></div>

    <div class="menu-item">
      <a routerLink="/user" routerLinkActive="active">
        <mat-icon>person</mat-icon> Perfil de Usuário
      </a>
    </div>

    <div class="separator" *ngIf="currentUser?.role === 'ADMIN'"></div>

    <div class="menu-item" *ngIf="currentUser?.role === 'ADMIN'">
      <a routerLink="/manage-users" routerLinkActive="active">
        <mat-icon>manage_accounts</mat-icon> Gerenciar Usuários
      </a>
    </div>

    <div class="separator"></div>

  </nav>

  <div class="grow-space"></div>

  <div class="separator"></div>

  <div class="logout">
    <a routerLink="/logout">
      <mat-icon>logout</mat-icon> Sair
    </a>
  </div>

</aside>
