<div style="margin-bottom: 2rem;">
  <app-user-card [user]="loggedUser()" (editClicked)="openDialog($event)"></app-user-card>
</div>

<div class="page-card">
  <div class="table-header-container">
    <h2>Usuários</h2>

    <button
      mat-icon-button
      color="primary"
      matTooltip="Novo Usuário"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table class="tabela-users">
    <thead>
    <tr>
      <th>Email</th>
      <th>Nome</th>
      <th>Perfil</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>
      @for (user of users(); track user.id) {
        <tr>
          <td>{{ user.login }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.status ? "Ativo" : "Inativo"}}</td>
          <td>
            <button
              mat-icon-button
              color="primary"
              matTooltip="Editar Usuário"
              (click)="openDialog(user)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
